<div class="footer-container">
    <div class="footer-container-main">
        <div class="footer-logo">
            <a routerLink="/">
                <span>&lt;/&gt; M<span class="a-letter">a</span>rco Al<span class="b-letter">b</span>er</span>
            </a>
        </div>
        <div class="footer-copyright"><span>&#169; Marco Alber 2023</span></div>
        <div class="footer-image-container">
            <a href="https://github.com/MarcoAlber" target="_blank"><img src="assets/img/github_button.png"></a>
            <a href="mailto:m.alber@onlinehome.de"><img src="assets/img/email_button.png"></a>
            <a href="https://www.linkedin.com/in/marco-alber-765807287/" target="_blank"><img
                    src="assets/img/linkedin_button.png"></a>
        </div>
        <div class="footer-imprint-responsive"><span (click)="goUp()" routerLink="/imprint">Imprint</span> | <span
                (click)="goUp()" routerLink="/privacy-policy">Privacy policy</span></div>
    </div>
    <div class="footer-imprint"><span (click)="goUp()" routerLink="/imprint">Imprint</span> | <span (click)="goUp()"
            routerLink="/privacy-policy">Privacy policy</span></div>
</div>