<div class="footer-container">
    <div class="footer-container-main">
        <div class="footer-logo">
            <a href="#">
                <span>&lt;/&gt; M<span class="a-letter">a</span>rco Al<span class="b-letter">b</span>er</span>
            </a>
        </div>
        <div class="footer-copyright"><span>&#169; Marco Alber 2023</span></div>
        <div class="footer-image-container">
            <a href="https://github.com/MarcoAlber" target=”_blank”><img src="assets/img/github_button.png"></a>
            <a href="mailto:m.alber@onlinehome.de"><img src="assets/img/email_button.png"></a>
            <a href="#"><img src="assets/img/linkedin_button.png"></a>
        </div>
        <div class="footer-imprint-responsive"><span>Imprint</span> | <span>Privacy policy</span></div>
    </div>
    <div class="footer-imprint"><span>Imprint</span> | <span>Privacy policy</span></div>
</div>