.footer-container {
    margin-top: 90px;
    border-top: 4px solid #FA7902;
    height: 291px;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-container-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    font-size: 27px;
    font-weight: 600;

    a {
        color: white;
        text-decoration: none;
    }
}

.a-letter {
    color: #FA7902;
}

.b-letter {
    color: #FF4747;
}

.footer-copyright {
    font-size: 23px;
}

.footer-image-container {
    width: 174px;
    display: flex;
    justify-content: space-between;

    a,
    img {
        width: 30px;
        height: 30px;
        transition: all 225ms ease-in-out;

        &:hover {
            cursor: pointer;
            transform: scale(1.15);
            transition: all 225ms ease-in-out;
        }
    }
}

.footer-imprint {
    position: absolute;
    margin-top: 100px;
    font-size: 20px;
    transition: all 225ms ease-in-out;

    span {
        &:hover {
            cursor: pointer;
            text-decoration: underline solid #FF4747 3px;
            transition: all 225ms ease-in-out;
        }
    }
}