<div id="aboutme" class="about-me-container">
    <div class="aboutMeBg"><img src="assets/img/aboutMeBg.png"></div>
    <div class="aboutMeSection">
        <h1>About me</h1>
        <div class="about-me-text-container">
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut asperiores nostrum delectus quod beatae
                tenetur dicta neque dolores, corrupti impedit nesciunt dolor, molestias eos iure ad necessitatibus
                fugiat
                odio reiciendis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus facere eligendi
                obcaecati sequi ad minima eos velit quas consequuntur, dolor mollitia a ea autem, temporibus corrupti
                animi
                iure fugiat sed.</span>
            <div data-aos="zoom-out-right" class="lamp-container">
                <div><img src="assets/img/lamp.png"></div>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe facere recusandae cum laborum quod
                    quam
                    deleniti at, ab placeat ipsam! Quia ullam rem laborum nulla blanditiis distinctio sit reprehenderit
                    vero.</span>
            </div>
            <div data-aos="zoom-out-right" class="puzzle-container">
                <div><img src="assets/img/puzzle.png"></div>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe facere recusandae cum laborum quod
                    quam
                    deleniti at, ab placeat ipsam! Quia ullam rem laborum nulla blanditiis distinctio sit reprehenderit
                    vero.</span>
            </div>
        </div>
    </div>
    <div>
        <div class="image-round-container">
            <img src="assets/img/profile-small.png">
            <div></div>
        </div>
    </div>
</div>