<div id="aboutme" class="about-me-container">
    <div class="aboutMeBg"><img src="assets/img/aboutMeBg.png"></div>
    <div class="aboutMeSection">
        <h1>About me</h1>
        <div class="about-me-text-container">
            <span>I'm an ambitious frontend developer based in Stuttgart, Germany fueled by a passion for creating
                captivating digital interfaces.<br>
                Proficient in HTML, CSS and JavaScript, I bring a fresh perspective and a determination to learn and
                grow.<br>
                My goal is to contribute my skills and enthusiasm to a dynamic team, crafting user-friendly websites
                that flawlessly integrate functionality with eye-catching design.
            </span>
            <div data-aos="zoom-out-right" class="lamp-container">
                <div><img src="assets/img/lamp.png"></div>
                <span>I have experience creating various web and business apps and OOP-based jump & run games, all
                    developed using relevant technologies.<br>
                    With an eye for detail, I place significant importance on accurately implementing designs.</span>
            </div>
            <div data-aos="zoom-out-right" class="puzzle-container">
                <div><img src="assets/img/puzzle.png"></div>
                <span>With my professional experience, I excel at maintaining clear communication for smooth teamwork
                    and efficient workflows.</span>
            </div>
        </div>
    </div>
    <div>
        <div class="image-round-container">
            <img src="assets/img/profile-small.png">
            <div></div>
        </div>
    </div>
</div>