h1 {
    height: 108px;
    font-size: 90px !important;
    font-weight: 700 !important;
    margin: 0 !important;
    margin-block-end: 0 !important;
    margin-block-start: 0 !important;
    margin-inline-end: 0 !important;
    margin-inline-start: 0 !important;
}

.about-me-container {
    margin-left: 100px;
    margin-top: 29px;
    padding-top: 109px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aboutMeBg {
    position: absolute;
    top: -170px;
    right: 0;
    height: 600px;

    img {
        height: 100%;
        opacity: 0.3;
    }
}

.about-me-text-container {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    width: 471px;
    font-size: 16px;
    gap: 35px;
}

.lamp-container,
.puzzle-container {
    display: flex;
    align-items: center;
    gap: 35px;

    img {
        transition: all 125ms ease-in-out;

        &:hover {
            transition: all 125ms ease-in-out;
            transform: scale(1.15);
        }
    }
}

.image-round-container {
    display: flex;
    align-items: center;
    z-index: 1;

    img {
        height: 453px;
        width: 453px;
        object-fit: cover;
        border-radius: 100%;
        border: 4px solid #FA7902;
    }

    div {
        width: calc(45vw - 486px);
        height: 0;
        display: flex;
        border-top: 2px solid #FA7902;
        border-bottom: 2px solid #FA7902;
    }
}

@media(max-width: 1300px) {
    h1 {
        height: 100px !important;
        font-size: 75px !important;
    }

    .about-me-text-container {
        width: 350px;
    }

    .image-round-container {
        img {
            height: 320px;
            width: 320px;
            border-radius: 100%;
            border: 4px solid #FA7902;
        }

        div {
            width: calc(45vw - 320px);
        }
    }
}

@media (orientation: portrait) {
    .about-me-container {
        margin-left: 0;
        margin-top: 29px;
        padding-left: 25px;
        padding-right: 25px;
        justify-content: center;
    }

    .about-me-text-container {
        width: 471px;
    }

    .aboutMeSection {
        z-index: 1;
    }

    .aboutMeBg {
        height: 415px;
        top: 0;
    }

    .image-round-container {
        display: none;
    }

    h1 {
        height: 54px !important;
        font-size: 45px !important;
    }
}

@media(max-width: 550px) {
    .about-me-text-container {
        width: unset;
    }
}

@media (orientation: landscape) and (max-width: 900px) {
    .about-me-container {
        margin: 0;
        padding-left: 25px;
        padding-right: 25px;
        justify-content: center;
    }

    .aboutMeBg {
        top: 70px;
    }

    .aboutMeSection {
        z-index: 1;
    }

    .image-round-container {
        display: none;
    }

    .about-me-text-container {
        width: unset;
    }
}

@media(min-width: 1921px) {
    .image-round-container div {
        right: calc(50% - 960px);
        width: calc(960px - 194.5px - 36px);
    }
}