<div id="contact" class="contact-container">
    <div class="contact-headline-container">
        <div class="contact-line"></div>
        <span>Contact</span>
    </div>
    <div class="text-form-container">
        <div class="text-container">
            <span class="text-headline">Got a problem to solve?</span>
            <span class="contact-me-text">Contact me through this form. I am interested in hearing you, knowing your
                ideas and contributing to your projects with my work.</span>
            <span>Need a Frontend developer? <b>Contact me!</b></span>
        </div>
        <div class="form-container">
            <form (submit)="sendMail()" ngNativeValidate #myForm>
                <input required placeholder="Your name" type="text" name="name" #nameField>
                <input required placeholder="Your email" type="email" name="mail" #mailField>
                <textarea required placeholder="Your message" name="message" #messageField id="" cols="30"
                    rows="6"></textarea>
                <div class="form-button-container">
                    <button class="form-button" #buttonField><span>Send message </span></button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="go-up-button">
    <a routerLink="/">
        <img src="assets/img/go_up_button.png">
    </a>
</div>