.contact-container {
    margin-top: 134px;
    padding-top: 109px;
}

.contact-headline-container {
    display: flex;
    align-items: center;
    gap: 50px;

    .contact-line {
        width: 50px;
        border-top: 2px solid #FF4747;
        border-bottom: 2px solid #FF4747;
    }

    span {
        font-weight: 700;
        font-size: 90px;
        line-height: 108px;
    }
}

.text-form-container {
    display: flex;
    justify-content: space-between;
    height: 465px;
    margin: 100px 100px 0;

    .text-container {
        display: flex;
        flex-direction: column;
        width: 473px;

        .text-headline {
            font-weight: 700;
            font-size: 32px;
        }

        .contact-me-text {
            margin: 35px 0 25px;
        }
    }
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 617px;

    input,
    textarea {
        background-color: unset;
        border: 1px solid #FF4747;
        border-radius: 10px;
        padding: 15px 25px;
        resize: none;
        color: white;
        font-family: 'Poppins';
        font-size: 16px;
        font-weight: 400;
        transition: all 225ms ease-in-out;

        &:hover {
            border: 1px solid #FA7902;
            transition: all 225ms ease-in-out;
        }

        &::placeholder {
            color: white;
        }
    }
}

.form-button-container {
    display: flex;
    justify-content: center;
}

.form-button {
    border-radius: 10px;
    background-color: #FA7902;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 23px;
    padding: 0;
    width: 253px;
    height: 58px;
    transition: all 0.5s;

    &:hover {
        cursor: pointer;
        background-color: #FF4747;
        transition: all 225ms ease-in-out;

        span {
            padding-right: 25px;
        }

        span:after {
            opacity: 1;
            right: 0;
        }
    }

    span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;

        &::after {
            content: ':)';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }
    }
}

.go-up-button {
    display: flex;
    justify-content: flex-end;
    margin: 90px 100px 0 0;

    a {
        display: flex;
    }

    img {
        transition: all 125ms ease-in-out;

        &:hover {
            cursor: pointer;
            filter: invert(53%) sepia(11%) saturate(5732%) hue-rotate(356deg) brightness(97%) contrast(103%);
            transition: all 125ms ease-in-out;
        }
    }
}

@media(max-width: 1300px) {
    .text-form-container {
        gap: 75px;
    }

    .text-container {
        width: 40vw !important;
    }

    .form-container form {
        width: 40vw;
    }
}

@media (orientation: portrait),
(orientation: landscape) and (max-width: 900px) {
    .contact-container {
        margin-top: 0;
    }

    .text-form-container {
        height: unset;
        gap: 0;
        flex-direction: column;
        margin: 25px 25px 0;
    }

    .text-container {
        width: 100% !important;
    }

    .form-container {
        margin-top: 45px;

        form {
            width: 100%;
        }
    }

    .contact-headline-container {
        gap: 5px;

        .contact-line {
            width: 20px;
        }

        span {
            font-size: 45px;
            line-height: 54px;
        }
    }

    .text-headline {
        font-size: 23px;
    }

    .contact-me-text {
        margin: 25px 0 15px;
    }

    .go-up-button {
        margin: 75px 25px 0 0;
    }
}