.contact-container {
    position: relative;
    margin-top: 134px;
    padding-top: 109px;
}

.contactBg {
    position: absolute;
    bottom: -223px;
    left: -150px;
    height: 700px;
    z-index: -1;

    img {
        height: 100%;
        opacity: 0.3;
    }
}

.contact-headline-container {
    display: flex;
    align-items: center;
    gap: 50px;

    .contact-line {
        width: 50px;
        border-top: 2px solid #FF4747;
        border-bottom: 2px solid #FF4747;
    }

    span {
        font-weight: 700;
        font-size: 90px;
        line-height: 108px;
    }
}

.text-form-container {
    display: flex;
    justify-content: space-between;
    height: 465px;
    margin: 100px 100px 0;

    .text-container {
        display: flex;
        flex-direction: column;
        width: 473px;

        .text-headline {
            font-weight: 700;
            font-size: 32px;
        }

        .contact-me-text {
            margin: 35px 0 25px;
        }
    }
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 617px;

    .input-container {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .required-informations {
        position: absolute;
        bottom: -28px;
        color: #FF4747;
        font-size: 14px;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:focus {
        transition: background-color 0s 600000s, color 0s 600000s;
    }

    input,
    textarea {
        background-color: unset;
        border: 1px solid #FF4747;
        border-radius: 10px;
        padding: 15px 45px 15px 25px;
        resize: none;
        color: white;
        outline: none;
        font-family: 'Poppins';
        font-size: 16px;
        font-weight: 400;
        transition: all 225ms ease-in-out;

        &:focus {
            border: 1px solid #FA7902;
        }

        &:hover {
            border: 1px solid #FA7902;
            transition: all 225ms ease-in-out;
        }

        &::placeholder {
            color: white;
        }
    }
}

.green-border {
    border-color: #70E61C !important;
}

button:disabled,
button[disabled] {
    cursor: not-allowed !important;
    opacity: 0.5;

    &:hover {
        background-color: #FA7902;
    }

    span {
        padding-right: 0 !important;

        &::after {
            content: '';
            right: 0 !important;
        }
    }
}

textarea {
    &::-webkit-scrollbar {
        width: 3px;
    }

    &::-webkit-scrollbar-track {
        background: #2c3a55;
    }

    &::-webkit-scrollbar-thumb {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #f1f1f1c2;
    }
}

.warning-image,
.check-image {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: -1;
}

.form-button-container {
    display: flex;
    justify-content: center;
}

.form-button {
    border-radius: 10px;
    background-color: #FA7902;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 23px;
    padding: 0;
    width: 253px;
    height: 58px;
    transition: all 0.5s;

    &:hover {
        cursor: pointer;
        background-color: #FF4747;
        transition: all 225ms ease-in-out;

        span {
            padding-right: 25px;
        }

        span:after {
            opacity: 1;
            right: 0;
        }
    }

    span {
        display: inline-block;
        position: relative;
        transition: 0.5s;

        &::after {
            content: ':)';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }
    }
}

.go-up-button {
    display: flex;
    justify-content: flex-end;
    margin: 90px 100px 0 0;

    a {
        display: flex;
    }

    img {
        transition: all 125ms ease-in-out;

        &:hover {
            cursor: pointer;
            filter: invert(53%) sepia(11%) saturate(5732%) hue-rotate(356deg) brightness(97%) contrast(103%);
            transition: all 125ms ease-in-out;
        }
    }
}

.confirmation-message-in {
    position: fixed;
    z-index: 2;
    left: calc(50% - 150px);
    bottom: 30px;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    background-color: #FA7902;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    animation: confirmationMessageIn 0.5s forwards;
}

.confirmation-error-message-in {
    background-color: #FF4747;
}

.confirmation-message-out {
    animation: confirmationMessageOut 0.5s forwards;
}

@keyframes confirmationMessageIn {
    from {
        bottom: -100px;
    }

    to {
        bottom: 30px;
    }
}

@keyframes confirmationMessageOut {
    from {
        bottom: 30px;
    }

    to {
        bottom: -100px;
    }
}

@media(max-width: 1300px) {
    .text-form-container {
        gap: 75px;
    }

    .text-container {
        width: 40vw !important;
    }

    .form-container form {
        width: 40vw;
    }
}

@media (orientation: portrait),
(orientation: landscape) and (max-width: 900px) {
    .contact-container {
        margin-top: 0;
    }

    .contactBg {
        bottom: -168px;
        left: -30px;
        height: 270px;
    }

    .text-form-container {
        height: unset;
        gap: 0;
        flex-direction: column;
        margin: 25px 25px 0;
    }

    .text-container {
        width: 100% !important;
    }

    .form-container {
        margin-top: 45px;

        form {
            width: 100%;
        }
    }

    .contact-headline-container {
        gap: 5px;

        .contact-line {
            width: 20px;
        }

        span {
            font-size: 45px;
            line-height: 54px;
        }
    }

    .text-headline {
        font-size: 23px;
    }

    .contact-me-text {
        margin: 25px 0 15px;
    }

    .go-up-button {
        margin: 75px 25px 0 0;
    }
}