header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #141D2F;
    padding: 37px 100px;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;

    a {
        color: white;
        text-decoration: none;
    }

    .a-letter {
        color: #FA7902;
    }

    .b-letter {
        color: #FF4747;
    }
}

.menu-links {
    width: 360px;
    display: flex;
    gap: 46px;

    a {
        color: white;
        text-decoration: none;
        font-weight: 400;
        font-size: 23px;
        transition: all 225ms ease-in-out;

        &:hover {
            transition: all 225ms ease-in-out;
            color: #FA7902;
        }
    }
}