header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #141D2F;
    padding: 37px 100px;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;

    a {
        color: white;
        text-decoration: none;
    }

    .a-letter {
        color: #FA7902;
    }

    .b-letter {
        color: #FF4747;
    }
}

.dp-none {
    display: none;
}

.menu-links {
    display: flex;
    gap: 46px;

    a {
        color: white;
        text-decoration: none;
        font-weight: 400;
        font-size: 23px;
        transition: all 225ms ease-in-out;

        &:hover {
            transition: all 225ms ease-in-out;
            color: #FA7902;
        }
    }
}

@media (orientation: portrait) {
    header {
        padding: 37px 25px;
    }
}

@media (orientation: landscape) and (max-width: 900px) {
    header {
        padding: 37px 25px;
    }
}

@media(max-width: 690px) {
    .menu-links {
        display: none;
    }

    .menu-links-responsive {
        position: fixed;
        top: 109px;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(20, 29, 47, 0.9);
    }

    .burger-menu {
        width: 30px;
        position: relative;

        span {
            border-radius: 10px;
            position: absolute;
            border: 1px solid white;
            width: calc(100% - 2px);

            &:nth-child(1) {
                top: 4px;
                transition: all 225ms ease-in-out;
            }

            &:nth-child(2) {
                top: 16.5px;
                transition: all 225ms ease-in-out;
            }

            &:nth-child(3) {
                top: 29px;
                transition: all 225ms ease-in-out;
            }
        }

        &:hover {
            cursor: pointer;
        }
    }
}

.closeMenu {
    span {
        &:nth-child(1) {
            transform: translateY(12px) rotate(-45deg);
            transition: all 225ms ease-in-out;
        }

        &:nth-child(2) {
            opacity: 0;
            transition: all 225ms ease-in-out;
        }

        &:nth-child(3) {
            transform: translateY(-12px) rotate(45deg);
            transition: all 225ms ease-in-out;
        }
    }
}

@media(min-width: 691px) {
    .burger-menu {
        display: none;
    }

    .menu-links-responsive {
        display: none;
    }

    .contact-link {
        display: none;
    }

    .menu-links {
        display: flex !important;
    }
}