<div class="i-am-container">
    <div class="profile-image-container">
        <div class="profile-bg"><img src="assets/img/iAmBg.png"></div>
        <img src="assets/img/profile.png">
    </div>
    <div class="profile-container">
        <div class="profile-description-container">
            <div class="i-am-text">
                <span>I am</span>
            </div>
            <div class="name-container">
                <span class="name-text">Marco Alber</span>
                <span class="frontend-text">FRONTEND DEVELOPER</span>
            </div>
        </div>
        <div class="lets-talk-button">
            <a href="#contact">
                <span>Let's talk!</span>
            </a>
        </div>
    </div>
</div>
<div class="background-position">
    <div class="background-curved"></div>
</div>
<div class="contact-links-container">
    <div class="links-container">
        <div class="link-line"></div>
        <a href="https://github.com/MarcoAlber" target="_blank"><img src="assets/img/github_button.png"></a>
        <a href="mailto:hello@marco-alber.net"><img src="assets/img/email_button.png"></a>
        <a href="https://www.linkedin.com/in/marco-alber-765807287/" target="_blank"><img src="assets/img/linkedin_button.png"></a>
        <a class="email-adress" href="mailto:hello@marco-alber.net">hello&#64;marco-alber.net</a>
    </div>
    <div class="scroll-container">
        <span>Scroll down</span>
        <div>
            <img src="assets/img/arrow-down-line.png">
        </div>
    </div>
</div>