a {
    color: white;
}

.privacy-policy-container {
    padding: 149px 100px 0;

    @media (orientation: portrait),
    (orientation: landscape) and (max-width: 900px) {
        padding: 149px 25px 0;
    }
}