<div class="imprint-container">
    <h1>Impressum</h1>

    <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
    <p>Marco Alber<br />
        Postplatz 2<br />
        71032 B&ouml;blingen</p>

    <h2>Kontakt</h2>
    <div class="contact-container">
        <p>Telefon: <a href="tel:+4915776424285">+49 1577 6424 285</a><br />
            E-Mail: <a href="mailto:hello@marco-alber.net">hello&#64;marco-alber.net</a></p>
    </div>
    <p>Quelle: <a target="_blank" href="https://www.e-recht24.de">eRecht24</a></p>
</div>