@use 'assets/fonts/fonts.css';

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Poppins';
    background-color: #141D2F;
    color: white;
    overflow-y: auto;

    @media(min-width: 691px) {
        overflow-y: auto !important;
    }

    &::-webkit-scrollbar {
        width: 10px;

        @media(max-width: 1000px) {
            width: 4px;
        }
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: #2c3a55;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #30456e;
    }
}